# Node dependency folders
node_modules/
**/node_modules/

# Local portable Node.js environment
.node/

# Editor and IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local configurations
client/config.json
*.log
#env file
.env